<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="./../node_modules/bootstrap/dist/css/bootstrap.min.css">
		<title>Document</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/todo_list/public/">Accueil</a></li>
				<li><a href="/todo_list/public/task/">Tâches</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</nav>
		{% block content %}
			{# <p>je suis dans base.twig</p> #}
		{% endblock %}
		<footer>ici mon footer</footer>
	</body>
</html>
